<html xmlns="http://www.w3.org/1999/xhtml"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   	<title>TIMU Account Verification</title>
</head>
<body>
<div id="i9q5o" style="box-sizing: border-box; padding: 10px; text-align: center; color: #95a5a6;">
  <span id="iphd" style="box-sizing: border-box; font-size: 12px;"><span id="i4lf" style="box-sizing: border-box; font-family: Arial, Helvetica, sans-serif; color: #3e4151; text-decoration: underline;"><a href="https://auth.timu.com/" target="_blank" id="ilqw" style="box-sizing: border-box; text-decoration: none; color: #3e4151;">Login to TIMU</a></span></span>
</div>
<img id="i7kcw" src="https://uploads-ssl.webflow.com/5e28967754518e17bbfaaf77/5fbdb6122cc28def9bc10950_TIMU-email-logo.png" width="69" height="18" style="box-sizing: border-box; color: black; width: 69px; height: 18px; max-width: 69px; min-height: 18px;">
<img id="itp6j" src="https://uploads-ssl.webflow.com/5e28967754518e17bbfaaf77/5f8a3bd05b34169cc7fd5372_TIMU-email-spacer.png" width="320" height="30" style="box-sizing: border-box; color: black; width: 100%; height: 30px;">
<table id="inqjn" width="100%" style="box-sizing: border-box; margin: 0 auto 0 auto; padding: 0 0 0 0; width: 100%;">
  <tbody id="ieb2s" style="box-sizing: border-box;">
    <tr id="i9pts" style="box-sizing: border-box;">
      <td id="ijpzn" valign="middle" style="box-sizing: border-box; font-size: 12px; font-weight: 300; vertical-align: middle; color: rgb(111, 119, 125); margin: 0; padding: 0;">
        <div id="iozc6" style="box-sizing: border-box; padding: 0 0 0 0; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: 700; line-height: 22px; color: #3E4151;">Hi {{ .To }},
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div id="iij9s" style="box-sizing: border-box; padding: 15px 0 0 0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: 60738B;">Please verify your TIMU account by clicking the following link:
</div>
<div id="i2n8f" style="box-sizing: border-box; padding: 20px 0 10px 0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 22px; color: #3E4151; margin: 0 0 0 0; font-weight: 700;"><a href="{{ .RecoveryURL }}">{{ .RecoveryURL }}</a>
</div>
<div id="ih5gm" style="box-sizing: border-box; padding: 10px 0 10px 0; margin: 60px 0 0 0;">
  <div id="im1dj" style="box-sizing: border-box; padding: 4px 10px 4px 0; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: 700; color: #4E6CD7; margin: 0 0 5px 0; line-height: 24px;">
    <span id="igwos" style="box-sizing: border-box; color: #3E4151;">Download TIMU for mobile</span>    iOS  
    <span id="ib1gq" style="box-sizing: border-box; color: #92A1B5;">|</span>  Android
  </div>
  <span id="ircdk" style="box-sizing: border-box; color: #95a5a6;"><span id="ijt74" style="box-sizing: border-box; font-size: 11px;"></span></span>
</div>
<div id="idigz" style="box-sizing: border-box; padding: 0 10px 0 0; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #92A1B5; line-height: 24px;">This email was sent to {{ .To }}. You are receiving it because you have signed up for our service. If you wish to no longer receive emails from us you can
  <strong id="ihxnj" draggable="true" data-highlightable="1" style="box-sizing: border-box;">Unsubscribe</strong>
  <br id="io0ql" draggable="true" data-highlightable="1" style="box-sizing: border-box;">
  <br id="i1u23" draggable="true" data-highlightable="1" style="box-sizing: border-box;">TIMU, 200 Spectrum Center Drive Suite 300 Irvine, CA 92618 United States
</div>
</body>
</html>